<% layout("./layouts/boilerplate.ejs") %>



  <div class="row">
    <div class="col-8 offset-2">
      <br><br>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">

      <div class="mb-3">
        <table for="title" class="form-label">Title</table>
        <input name="listing[title]"
         placeholder="Add a catchy title" 
         type="text" class="form-control" 
         required/>
        <div class="valid-feedback">It's look good</div>
      </div>
      
      <div class="mb-3">
        <table for="description" class="form-label">Description</table>
        <textarea
        name="listing[description]"
        class="form-control"
        required
      ></textarea>
      <div class="invalid-feedback">Write something about it</div>
      </div>
     
      <div class="mb-3">
        <table for="image" class="form-label">Upload Image</table>
        <input
        name="listing[image.url]"
        type="file"
        class="form-control"
        />
      </div>
      
      <div class="row">
       <div class="mb-3 col-md-4">
        <table for="price" class="form-label">Price</table>
        <input name="listing[price]" 
        placeholder="1200"
         type="number" 
         class="form-control"
         required/>
        <div class="invalid-feedback">Please enter valid Price</div>
       </div>

       <div class="mb-3 col-md-8">
        <table for="country" class="form-label">Country</table>
        <input name="listing[country]" 
        placeholder="India" 
        type="text" 
        class="form-control" 
        required/>
        <div class="invalid-feedback">Please enter the country</div>
       </div>

       </div>

       <div class="mb-3 ">
        <table for="location" class="form-label">Location</table>
        <input type="text"
        name="listing[location]"
        placeholder="Jamshedpur,Jharkhand" 
        class="form-control" 
        required/>
        <div class="invalid-feedback">Please enter the location</div>
       </div>
                <br><br>    
      <button class="btn btn-dark edit-btn">Add</button>
      <br><br>
    </form>
  </div>
  </div>

